h1{
    color:#b668a0 ;
}

h3{
   color: #b668a0;
}

img{
    width: 400px;
    height: 300px;
}


h2{
 color: #b668a0;   
}

img{
    border: solid 2px   ;
}

h2{
    color: #b668a0; 
}

p{
    font-family: ;
    color: #b668a0;
}