h1{
    color:#942070 ;
}

h3{
   color: #942070;
}

img{
    width: 400px;
    height: 300px;
}


h2{
 color:#942070;

img{
    border: solid 2px   ;
}

h2{
    color: #b668a0; 
}

p{
    font-family: Dancing Script;
    color: #b668a0;
}